body {
	font-size: 16px;
	color:  #fff;
	background-color: #fff;
	font-family:  font-family: 'Roboto', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: 808080;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url();
	width: ;
	height: ;
	margin: ;
}